/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Colors used in the theme
// $blood: #a23;
$amarelo: #F2B134;
$vermelho: #ED553B;
$verde-claro: #4FB99F;
$verde-escuro: #068587;
$fundo: #112F41;
$codeBackground: #23241f;

$backgroundColor: $fundo;

// Main text
$mainFont: 'Roboto', sans-serif;
$mainColor: #eee;

// Headings
$headingFont: 'Roboto', sans-serif;
$headingTextShadow: 2px 2px 2px $fundo;

// h1 shadow, borrowed humbly from 
// (c) Default theme by Hakim El Hattab
$heading1TextShadow: none;

// Títulos
$headingColor: $verde-escuro;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: bold;

// Links
$linkColor: $verde-escuro;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $verde-escuro;
$selectionColor: #fff;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal p {
    font-weight: 300;
    text-shadow: 1px 1px $fundo;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
}

.reveal p code {
    background-color: $codeBackground;
    display: inline-block;
    border-radius: 7px;
}

.reveal small code {
    vertical-align: baseline;
}
